$mainTextColor:#B35007;
$darkerColor:#1e657d;
$subTextColor:#ff913d;
$mainColor: #31A6CC;
$mainColor2: #247c99;
$shadowColor:#89E0FD;
$x:rgba(137, 224, 253, 0.5) ;
$y:rgba(137, 224, 253, 0.1) ;
////////////////////////////
$lightColor: #7D9DFF;
$darkColor: #4169E1;
$lightAltColor: #E35983;
$darkAltColor: #992C4D;
$lightShadowColor: #4EF2AE;
$darkShadowColor: #466659;


